body{
    background-color: bisque;
    text-align: center;
}
ol{
    background-color: rgb(202, 216, 47);
    color: rgb(124, 0, 0);
    text-align: center;
}
ul{
    background-color: rgb(240, 105, 57);
    color: rgb(2, 26, 8);
    text-align:center;
}

